@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary;
}

.div {
  @apply border border-secondary shadow-xl bg-primary px-3 max-w-[1200px] w-full mx-auto;
}
.div-coin {
  @apply border border-secondary shadow-xl bg-secondary px-3 max-w-[1200px] w-full mx-auto;
}

.dark {
  --color-bg-primary: #0c0c0c;
  --color-bg-secondary: #1a1919;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #8e9297;
  --color-text-accent: #213634;
  --color-bg-input: #4a5361;
  --color-bg-button: #585858;
}

.light {
  --color-bg-primary: #ecececf3;
  --color-bg-secondary: #e9e9e9;
  --color-text-primary: #000000;
  --color-text-secondary: #666b75;
  --color-text-accent: #2b6cb0;
  --color-bg-input: #edf2f7;
  --color-bg-button: #2b6cb0;
}
/* Import the 'Kanit' font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

/* Apply the 'Kanit' font to the body element */
body {
  font-family: "Kanit", sans-serif;
}

/* Apply the 'Kanit' font to all headings */

h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif;
}

/* Apply the 'Kanit' font to all paragraphs */
p {
  font-family: "Kanit", sans-serif;
}
